name: Build Compose Desktop App

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permissions for gradlew
        if: runner.os != 'Windows'
        run: chmod +x ./gradlew

      - name: Build native distributions
        run: ./gradlew package

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: app-${{ runner.os }}
          path: build/compose/binaries/main/*
